body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  font-size: 20px;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.calculator {
  height: 750px;
  width: 500px;
  background-color: white;
  color: black;
  border: 10px solid grey;
}

.display {
  text-align: center;
}
